.nav-wrapper {
    height: 4rem;
    padding: 1rem;
    background: radial-gradient(#242B47, #2D2A5E, #2D2A5E);
    display: flex;
    align-items: center;
}

.navlink {
    color: white;
    padding-left: 1rem;
}

.navtext {
    color: white;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-duration: 0.2s;
}

.navtext:hover {
    border-bottom: 2px solid white;
}